p Hi #{ @invitation.user.try(:first_name) }

p User #{@user.email} invited you to join TodoList: #{@invitation.todo_list.title}.
br
br

- if @invitation.new_user?
  p In order to join this TodoList please register in our Service using the following link:
  = new_user_url(list: @invitation.todo_list.id, invitation_token: @invitation.invitation_token, email: @invitation.invited_user_email)
  br
  br

p If you are already registered, you can activate your access to the TodoList by clicking here:
= confirm_todo_list_invitations_url(@invitation.todo_list, token: @invitation.invitation_token, email: @invitation.invited_user_email)
br
br

p You can then access the TodoList here:
= todo_list_todo_items_url(todo_list_id: @invitation.todo_list_id)
