<h3>Editing Todo List</h3>

<%= render 'form' %>

<br>
<%= link_to 'Cancel', todo_lists_path, id: "cancel" %>
<%= button_to 'Delete TodoList', @todo_list, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-todo-list", class: "danger" %> </br>
