<section id="todo_lists">
  <div id='welcome'>Welcome to TodoListMVC!</div>
</section>

<section id="todo_items">
  <div id='register'>Register now & check us for free!</div>
  <%= render 'form' %>
</section>



