/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background: url('/assets/background6.jpg') no-repeat center center fixed;
}

header {
  text-align: center;
  margin: auto;
  display: block;
}


div#wraper {
  width: 800px;
  background: white;
  padding: 15px;
  margin: 40px auto;
}

footer {
  color: #ccc;
  text-align: center;
}

div#nav ul li {
  list-style: none;
  display: inline;
  float: right;
  margin: 0 5px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #3f3f3e;
}

#cancel {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 12px;
  font-family: arial;
}

/* TodoLists & TodoItems */
.text-field-in-list {
  border-radius: 5px;
  font-size: 15px;
  padding: 2px;
  margin: 10px 0 0 0;
}

.submit-in-list {
  display: none;
}

/* TODO LISTS */

#title {
  color: green;
  font-size: 20px;
  font-family: Lucida Console;
}

ul.todo_lists li {
  list-style: none;
  font-size: 20px;
  border-bottom: solid 1px #ccc;
  min-height: 40px;
}

ul.todo_lists li a {
  text-decoration: none;
  color: black;
}

ul.todo_lists .edit-todo-list {
  float: right;
}

ul.todo_lists a#new-todo-list {
  color: red;
}


#new-item, #new-list, #delete-todo-item, #delete-todo-list, #new-invitation {
  float: right;
}

#Back {
  max-height: 20px;
  max-width: 20px;
  margin-top: 20px;
  display: inline;
}

#logout {
  max-height: 18px;
  max-width: 18px;
}

#cancel {
  margin-top: 20px;
}

.danger {
  color: red;
}

a.edit-todo-item {
  float: right;
}

a#edit-todo-list {
}

/* TODO ITEMS */

ul#todo_items .edit-todo-item {
  float: right;
}

ul#todo_items li {
  list-style: none;
  font-size: 20px;
  border-bottom: solid 1px #ccc;
  min-height: 40px;
}

ul#todo_items li a {
  text-decoration: none;
  color: black;
}

.checkbox-completed {
  type: radio;
}

div.deadline {
  font-size: 15px;
  margin-left: 30px;
}
div.urgent {
  color: red;
}

.checkbox-completed {
  display: none;
}

input[type=checkbox] + label {
  display: block;
  width: 0px;
  height: 0px;
  float: left;
  margin: 5px 30px 5px 0;
}

input[type=checkbox]:checked + label {
  display: block;
  width: 0px;
  height: 0px;
  float: left;
  margin: 5px 30px 5px 0;
}

input[type=checkbox] + label:before {
  display: block;
  height: 20px;
  width: 20px;
  float: left;
  background: url('/assets/tag-not-tagged.png');
  background-size: 20px 20px;
  content: ""
}

input[type=checkbox]:checked + label:before {
  background:url('/assets/tag-tagged-green.png');
  background-size: 20px 20px;
}

div#show-completed {
  display: inline;
  margin-left: 20px;
  color:blue;
}

*/
