/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background: url('/assets/background6.jpg') no-repeat center center fixed;
}

div#wraper {
  width: 800px;
  background: white;
  padding: 15px;
  margin: 40px auto;
}

header {
  text-align: center;
  margin: auto;
  display: block;
}

div#nav ul li {
  list-style: none;
  display: inline;
  float: right;
  margin: 0 5px;
  font-size: 15px;
}

#logout {
  max-height: 18px;
  max-width: 18px;
}

#flash-messages {
  padding-top: 3px;
  padding-left: 10px;
}

footer {
  color: #ccc;
  text-align: center;
}

a {
  text-decoration: none;
  color: #3f3f3e;
}

#cancel {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 12px;
  font-family: arial;
  margin-top: 20px;
}

#back {
  max-height: 20px;
  max-width: 20px;
  margin-top: 20px;
  display: inline;
}

.danger {
  color: red;
}

.invisible {
  display: none;
}

/* TodoLists & TodoItems */
.text-field-in-list {
  border-radius: 5px;
  font-size: 15px;
  padding: 2px;
  margin: 10px 0 0 0;
}

.edit {
  float: right;
  display:none;
}

li:hover .edit {
  display: inline-block;
}

/* SECTIONS */

section#main {
  display: table;
  height: 100%;
  width: 100%;
  border: solid #5e5e5e 1px;
  border-radius: 10px;
}

section#todo_lists {
  display: table-cell;
  height: 100%;
  width: 40%;
  border-right: solid #5e5e5e;
  background-color: #e5e5e5;
  border-radius: 10px;
  padding-right: 10px;
  position: relative;
  }

section#todo_items {
  display: table-cell;
  height: 100%;
  width: 60%;
  padding: 20px 15px;
}

/* TODO LISTS */

#title {
  color: green;
  font-size: 20px;
  font-family: Lucida Console;
}

section#todo_lists li {
  margin-left: -20px;
  list-style: none;
  font-size: 20px;
  border-bottom: solid 1px #7a7a7a;
  min-height: 40px;
}

section#todo_lists li a {
  text-decoration: none;
  color: black;
}

#new-item, #delete-todo-item, #delete-todo-list, #new-invitation {
  float: right;
}

#send-reminder {
  display: none;
}

div#new-list {
  float: left;
  margin-left: 15px;
  position: absolute;
  bottom: 10px;
}

/* TODO ITEMS */

div#title {
  margin-left: 40px;
}

section#todo_items li {
  list-style: none;
  font-size: 20px;
  border-bottom: solid 1px #ccc;
  min-height: 40px;
}

section#todo_items li a {
  text-decoration: none;
  color: black;
}

div.deadline {
  font-size: 15px;
  margin-left: 30px;
}

div.urgent {
  color: red;
}

div.alert {
  color: #7a7a7a;
}

div#show-completed {
  margin-bottom: 10px;
  color:green;
}

#edit-todo-item {
  float: right;
}

/* checkboxes */

.checkbox-completed {
  display: none;
}

input[type=checkbox] + label {
  display: block;
  width: 0px;
  height: 0px;
  float: left;
  margin: 5px 30px 5px 0;
}

input[type=checkbox]:checked + label {
  display: block;
  float: left;
  margin: 5px 30px 5px 0;
}

input[type=checkbox] + label:before {
  display: block;
  height: 20px;
  width: 20px;
  background: url('/assets/tag-not-tagged.png');
  background-size: 20px 20px;
  content: ""
}

input[type=checkbox]:checked + label:before {
  background:url('/assets/tag-tagged-green.png');
  background-size: 20px 20px;
}

/* INVITATION IN LIST#SHOW */

div#new-invitation {
  display: block;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 12px;
  font-family: arial;
}

div#invitation-form {
  float: right;
}

input#invitation_invited_user_email {
  font-size: 15px;
  border-radius: 5px;
}








