/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui/dialog
 *= require font-awesome
 *= require_tree .
 */

body {
  background: url('/assets/background6.jpg') no-repeat center center fixed;
  font-family: helvetica;
}

div#wraper {
  width: 600px;
  background: white;
  margin: 40px auto;
  border-radius: 10px;
}

header {
  text-align: center;
  margin: auto;
  display: block;
}

div#nav ul li {
  list-style: none;
  display: inline;
  float: right;
  margin: 0 5px;
  font-size: 15px;
}

#logout {
  max-height: 18px;
  max-width: 18px;
}

footer {
  color: #ccc;
  text-align: center;
}

a {
  text-decoration: none;
  color: #3f3f3e;
}

#cancel {
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 12px;
  font-family: arial;
  margin-top: 20px;
}

#back {
  max-height: 20px;
  max-width: 20px;
  margin-top: 20px;
  display: inline;
}

.danger {
  color: red;
}

.invisible {
  display: none;
}

/* TodoLists & TodoItems */
.text-field-in-list {
  border-radius: 5px;
  font-size: 15px;
  padding: 2px;
  margin: 10px 0 0 0;
}

li .edit, li .show, li .share {
  float: right;
  display:none;
}

li:hover .edit, li:hover .show, li:hover .share {
  display: inline;
}

.share {
  max-width: 20px;
  max-height: 20px;
  margin-right: 2px;
}

/* SECTIONS */

section#main {
  display: table;
  height: 100%;
  width:inherit;
}

section#todo_lists {
  display: table-cell;
  height: 100%;
  width: 185px;
  background-color: #e5e6e8;
  position: relative;
  border-right: solid #dbdbdb 1px;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
}

section#todo_items {
  display: table-cell;
  height: 100%;
  padding: 20px 15px;
}

/* TODO LISTS */

section#todo_lists ul {
  width: auto;
  -webkit-padding-start: 0;
}

section#todo_lists li {
  padding-left: 20px;
  list-style: none;
  height: 28px;
}

section#todo_lists li#selected {
  background-color: #205ec1;
}
section#todo_lists li#selected a {
  font-weight: 100;
  color: white;
}

section#todo_lists li a {
  font-size: 13px;
  text-decoration: none;
  color: black;
}

#new-item, #delete-todo-item, #delete-todo-list, #new-invitation {
  float: right;
}

#send-reminder {
  display: none;
}

div#new-list {
  font-size: 13px;
  font-weight: normal;
  vertical-align: middle;
  float: left;
  margin-left: 15px;
  position: absolute;
  bottom: 10px;
}

div#new-list img {
  height: 15px;
  width:15px;
}

/* TODO ITEMS */

div#title {
  margin-left: 10px;
  border-bottom: solid 1px #e5e6e8;
  padding-bottom: 5px;
}

#title a {
  color: orange;
  font-size: 28px;
}

section#todo_items li {
  list-style: none;
  font-size: 13px;
  border-bottom: solid 1px #e5e6e8;
  height: 35px;
}

section#todo_items ul {
  margin-left: -30px;
}

section#todo_items li a {
  text-decoration: none;
  color: black;
}

div.deadline {
  font-size: 13px;
  margin-left: 30px;
}

div.urgent {
  color: orange;
}

div.alert {
  color: #ccc;
}

div#show-completed {
  font-size: 14px;
  max-height: 15px;
  border-bottom: solid 1px #e5e6e8;
  padding-bottom: 8px;
}

#edit-todo-item {
  float: right;
}

/* checkboxes */

.checkbox-completed {
  display: none;
}

input[type=checkbox] + label {
  display: block;
  width: 0px;
  height: 0px;
  float: left;
  margin: 5px 30px 5px 0;
}

input[type=checkbox]:checked + label {
  display: block;
  float: left;
  margin: 5px 30px 5px 0;
}

input[type=checkbox] + label:before {
  display: block;
  height: 20px;
  width: 20px;
  background: url('/assets/tag-not-tagged.png');
  background-size: 20px 20px;
  content: ""
}

input[type=checkbox]:checked + label:before {
  background:url('/assets/tag-tagged-green.png');
  background-size: 20px 20px;
}

/* INVITATION IN LIST#SHOW */

div#new-invitation {
  display: block;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 12px;
  font-family: arial;
}

div#invitation-form {
  float: right;
}

input#invitation_invited_user_email {
  font-size: 15px;
  border-radius: 5px;
}

/* dialogs */
div#edit-item-dialog {
  min-width: 800px;
}







