// Place all the styles related to the todo_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.todo_items {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #bbb;

  th {
    text-align: left;
  }
}

table.todo_items td, th {
  border-top: 1px solid #ddd;
  padding: 4px 8px;
}

table.todo_items tbody tr:nth-child(even) td {
  background-color: #eee;
}

@media screen and (max-width: 640px) {
  .todo_items_table {
    overflow-x: auto;
    display: block;
  }
}

/*####### NEW TODO ITEM FORM ########*/

form#new_todo_item, form#edit_todo_item {
  margin: 50px 0;
}

input#todo_item_content, input#tag_list {
  width: 300px;
}

@media screen and (max-width: 1200px) {
  div.todo_item_form h1 {
    line-height: 40px;
  }
  form.new_todo_item label, input#save-todo-item {
    display: block;
    margin: 10px;
  }
  form.edit_todo_item label, input#save-todo-item {
    display: block;
    margin: 10px;
  }
  input#todo_item_content, input#tag_list {
    min-width: 50%;
  }
}
@media screen and (max-width: 340px) {
  form#new_todo_item {
    margin: 20px 0;
  }
}
